<div class="col-xs-12 col-md-12 col-lg-12">
<span>&nbsp;&nbsp;<em><%= time_ago_in_words(comment.created_at) %></em></span>
<p><%= link_to comment.user.username, user_path(comment.user), class: "link_tags" %> said: </p>
<div><%= comment.content %>
<% if logged_in? && (@article.user == current_user || current_user.admin?) %>
  <%= link_to "Delete", comment_path(comment), method: :delete, class:"btn btn-danger btn-tiny"%>
<% end %>
</div>
</div>