<div class="media">
    <a class="pull-left" href="#">
        <!--PICTURE NEEDS TO BE ADDED HERE-->
    </a>
    <div class="media-body">
        <h4 class="media-heading"><%= link_to comment.user.username, user_path(comment.user), class: "link_tags" %>
            <small><%= time_ago_in_words(comment.created_at) %> ago</small>
        </h4>
        <% if logged_in? && (@article.user == current_user || current_user.admin?) %>
          <%= link_to "Delete", comment_path(comment), method: :delete, class:"btn btn-xs btn-danger "%>
        <% end %>
        <%= simple_format(sanitize comment.content) %>
        <hr>
    </div>
</div>