<div class="container">
  <div class="col-xs-12">
    <div class="profile-picture">
       <%= image_tag @user.picture.url(:normal), class: "img-responsive" %>
    </div>
      <%= @user.username %>
  </div>
</div>