<header class="indexheader img-responsive">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <%= image_tag "http://i67.tinypic.com/iz5btt.png", class: "img-responsive", align: "center" %>
              <div class="intro-text">
                  <span class="tagline">A Ruby On Rails Development Company</span>
              </div>
          </div>
      </div>
  </div>
</header>
<section >
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi sapiente ipsa possimus inventore dicta quidem officia modi esse veritatis commodi! Et, recusandae explicabo quis perspiciatis reprehenderit nobis unde corporis laborum..Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, voluptatibus, quo quae possimus ipsum quaerat facilis fugiat dolore beatae at recusandae incidunt inventore quam voluptates nihil itaque esse perspiciatis porro!.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, quos, perferendis, accusamus temporibus provident in laborum magnam iure voluptatem iste illo tempora necessitatibus inventore maiores cum laboriosam ipsam corporis ratione!</p>
</section>