<section class="content-2 simple col-1 col-undefined ck-parallax-background ck-after-navbar" id="content5-77" style="background-image: url(https://images.unsplash.com/photo-1429051883746-afd9d56fbdaf?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=533d700028277f3d53e0e6d4ac3bcc1c);">
  <div class="ck-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);"></div>
    <div class="container">
        <div class="row">
            <div>
                <div class="thumbnail">
                    <div class="caption">
                        <h3>CodeKrieg's Founders </h3>
                        <div>
                          <p>Himanshu Patel <br>
                            Lead Software Development Engineer
                          </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ck-section ck-section--relative ck-section--fixed-size">
    <div class="ck-section__container container ck-section__container--isolated">
            
        <div class="col-sm-8 col-sm-offset-2">
            <div class="ck-section__container ck-section__container--middle">
                <div class="ck-header ck-header--auto-align ck-header--wysiwyg">
                    <h3 align="center" class="ck-header__text">Who I Am</h3>
                    <hr class="ck-divider"></hr>
                </div>
            </div>
            
            <div class="ck-section__container ck-section__container--middle">
                <div class="ck-article ck-article--auto-align ck-article--wysiwyg">
                    <p>
                     Young start-up that has its main focus on software development for web applications. 
                     <br/>
            	       Our main objective is to fulfill our customers' plans and contribute to the well being of the <strong>World Wide Web</strong>. 
            	       </br>
            	       We are currently using a lot of powerful assets, but the most important ones are <strong>Ruby</strong> and <strong>Ruby on Rails</strong>.
            	    </p>
                </div>
            </div>
            
            <div class="ck-section__container">
                <div class="ck-section__container">
                    <div align="center">
                        <a class="ck-buttons__btn btn btn-lg btn-default" href="#">Find More</a>
                    </div>
                 </div>
            </div>
        </div>
        
    </div
</section>