<section class="content-2 simple col-1 col-undefined ck-parallax-background ck-after-navbar" id="content5-77" style="background-image: url(https://images.unsplash.com/photo-1429051883746-afd9d56fbdaf?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=533d700028277f3d53e0e6d4ac3bcc1c);">
  <div class="ck-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);"></div>
    <div class="container">
        <div class="row">
            <div>
                <div class="thumbnail">
                    <div class="caption">
                        <h3>CodeKrieg's Founders </h3>
                        <div>
                          <p>Paul Badarau <br>
                            Lead Software Development Engineer
                          </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ck-section ck-section--relative ck-section--fixed-size">
    <div class="ck-section__container container ck-section__container--isolated">
            
        <div class="col-sm-8 col-sm-offset-2">
            <div class="ck-section__container ck-section__container--middle">
                <div class="ck-header ck-header--auto-align ck-header--wysiwyg">
                    <h3 align="center" class="ck-header__text">Who I Am</h3>
                    <hr class="ck-divider"></hr>
                </div>
            </div>
            
            <div class="ck-section__container ck-section__container--middle">
                <div class="ck-article ck-article--auto-align ck-article--wysiwyg">
                  <p>
            	    </p>
                </div>
            </div>
            
            <div class="ck-section__container">
                <div class="ck-section__container">
                    <div align="center">
                        <%= link_to "Founders", founders_path, class: "ck-buttons__btn btn btn-lg btn-default" %>
                    </div>
                 </div>
            </div>
        </div>
        
    </div
</section>