<section class="ck-section" id="content1-79">
    <div class="ck-section__container container ck-section__container--middle services-page">
        <div class="row">
          
            <div class="ck-article ck-article--wysiwyg col-sm-4">
              <div>
                <h2>Web Design</h2>
              </div>
              
              <hr>
              
              <div>
                <ul class="text-center">
                  <li class="list-unstyled"> Responsive Design </li>
                  <li class="list-unstyled"> Clean and Friendly UI</li>
                  <li class="list-unstyled"> Bootstrap, Foundation or Materialize</li>
                </ul>
              </div>
              
              <div>
                <h3>More</h3>
                <p>
                  CodeKrieg works with today's most used front-end technologies, like Bootstrap, Foundation or Materialize. <br> 
                  We also make sure our web designs are responsive, clean and friendly for the users. 
                </p>
              </div>
			      </div>
			      
			     <div class="ck-article ck-article--wysiwyg col-sm-4">
              <div>
                <h2>Web Development</h2>
              </div>
              
              <hr>
              
              <div>
                <ul class="text-center">
                  <li class="list-unstyled"> Ruby On Rails Based</li>
                  <li class="list-unstyled"> Scalable Applications</li>
                  <li class="list-unstyled"> Custom Made CMS</li>
                </ul>
                
              </div>
              
              <div>
                <h3>More</h3>
                <p>
                  We currently are a Ruby on Rails based company, we develope bespoke web-based software (web applications) & unique web platforms.
                  
                </p>
              </div>
              
              
			      </div>
			      
			     <div class="ck-article ck-article--wysiwyg col-sm-4">
              <div>
                <h2>Consultancy & Support</h2>
              </div>
              <hr>
              <div>
                <ul class="text-center">
                  <li class="list-unstyled"> Technical Support</li>
                  <li class="list-unstyled"> Hosting & Installation</li>
                  <li class="list-unstyled"> Migration Support</li>
                </ul>
              </div>
              
              <div>
                <h3>More</h3>
                <p>
                  We provide technical support on all of our applications, be it hosting, installation or maybe database migrations. 
                </p>
              </div>
              
              </div>
			      </div>
        </div>
    </div>
      <div class="row text-center">
        <div class="col-xs-12">
          <div class="ck-btns">
              <%= link_to "Check Out Our Projects!", projects_path, class: "ck-buttons__btn btn btn-lg btn-warning" %>
              <%= link_to "Or Hire Us!", new_contact_path, class: "ck-buttons__btn btn btn-lg btn-primary" %>
            </div>
        </div>
      </div>
</section>