<section class="ck-section" id="content1-79">
    <div class="ck-section__container container ck-section__container--middle services-page">
        <div class="row">
          
            <div class="ck-article ck-article--wysiwyg col-sm-4">
              <div>
                <h2>Web Design</h2>
              </div>
              
              <hr>
              
              <div>
                <h2>Technologies</h2>
              </div>
			      </div>
			      
			     <div class="ck-article ck-article--wysiwyg col-sm-4">
              <div>
                <h2>Web Development</h2>
              </div>
              
              <hr>
              
              <div>
                <h2>Technologies</h2>
              </div>
			      </div>
			      
			     <div class="ck-article ck-article--wysiwyg col-sm-4">
              <div>
                <h2>Consultancy & Support</h2>
              </div>
              <hr>
              <div>
                <h2>Technologies</h2>
              </div>
              
              </div>
			      </div>
			      
        </div>
    </div>
</section>