<section class="content-2 simple col-1 col-undefined ck-parallax-background ck-after-navbar" id="content5-77" style="background-image: url(https://images.unsplash.com/photo-1414438071614-314f6b1fd4a8?crop=entropy&fit=crop&fm=jpg&h=1000&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925);">
  <div class="ck-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);"></div>
    <div class="container">
        <div class="row">
            <div>
                <div class="thumbnail">
                    <div class="caption">
                        <h3 class="ck-header__text">Request A Quote</h3>
                        <p>Do you want to work with us? Then send us a message!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ck-section" id="content1-79">
    <div class="ck-section__container container ck-section__container--middle">
        <div class="row">
            <div class="ck-article ck-article--wysiwyg col-sm-8 col-sm-offset-2">
            	<p>
				        Thank you for your message. We will get back to you as soon as possible!
            	</p>
			  </div>
        </div>
    </div>
</section>