html {
  position: relative;
  min-height: 100%;
}
.ck-transparent {
  opacity: 0;
  filter: alpha(opacity=0);
}
.ck-embedded-video {
  position: relative;
}

.ck-background-video,
.ck-background-video-preview {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}
.ck-parallax-background,
.ck-background {
  background-attachment: fixed !important;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover !important;
}
.ck-hidden-scrollbar .ck-parallax-background {
  background-size: auto 130%;
}
.mobile .ck-parallax-background {
  background-attachment: scroll !important;
}
.ck-background {
  background-attachment: scroll !important;
}
.is-builder .animated {
  -webkit-animation-name: none !important;
  animation-name: none !important;
}
.msgbox-1 {
  overflow: hidden;
  padding: 0 20px;
  position: relative;
}
.msgbox-1 .container {
  padding: 41px 0 29px;
  position: relative;
  z-index: 3;
}
@media (max-width: 767px) {
  .msgbox-1 .container {
    padding: 67px 0 78px;
    text-align: center;
  }
}
.msgbox-1 .row > div + div {
  line-height: 67px;
}
@media (max-width: 767px) {
  .msgbox-1 .row > div + div {
    padding-bottom: 3px;
    padding-top: 23px;
  }
}
@media (max-width: 480px) {
  .msgbox-1 .row > div + div {
    padding-bottom: 15px;
    padding-top: 37px;
  }
}
.msgbox-1 h1,
.msgbox-1 h2 {
  letter-spacing: 4px;
  line-height: 33px;
  margin-bottom: 11px;
  margin-top: 10px;
}
.msgbox-1 h1 + h1,
.msgbox-1 h2 + h1,
.msgbox-1 h1 + h2,
.msgbox-1 h2 + h2 {
  margin-top: -11px;
}
@media (max-width: 767px) {
  .msgbox-1 h1,
  .msgbox-1 h2 {
    line-height: 1.5em;
    margin-bottom: 0;
  }
  .msgbox-1 h1 + h1,
  .msgbox-1 h2 + h1,
  .msgbox-1 h1 + h2,
  .msgbox-1 h2 + h2 {
    margin-top: -1px;
  }
}
.msgbox-1 p {
  color: #777;
  font-size: 17px;
  line-height: 27px;
  margin-bottom: 0;
  padding-bottom: 13px;
  padding-top: 16px;
  text-align: left;
}
.msgbox-1 p + p {
  margin-top: -13px;
  padding-top: 0;
}
@media (max-width: 767px) {
  .msgbox-1 p {
    padding-top: 20px;
  }
}
.msgbox-1 .btn {
  margin-top: -14px;
  margin-right: 10px;
}
@media (max-width: 480px) {
  .msgbox-1 .btn {
    display: block;
  }
  .msgbox-1 .btn + .btn {
    margin-top: 12px;
  }
}
.msgbox-1.dark {
  background: #3c3c3c;
  color: #fff;
}
.msgbox-1.dark p {
  color: #fff;
}
.msgbox-1.dark .btn-default {
  border-color: #fff;
  color: #fff;
}
.msgbox-1.dark .btn-default:hover,
.msgbox-1.dark .btn-default:focus,
.msgbox-1.dark .btn-default.focus,
.msgbox-1.dark .btn-default:active,
.msgbox-1.dark .btn-default.active,
.open > .dropdown-toggle.msgbox-1.dark .btn-default {
  background-color: #fff;
  border-color: #fff;
  color: #252525;
}
.content-2 {
  overflow: hidden;
  padding: 71px 20px 70px;
  position: relative;
}
.content-2.col-5 .row > div {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .content-2.col-5 .row > div {
    display: inline-block;
    float: none;
    vertical-align: top;
    width: 33%;
  }
}
@media (min-width: 992px) {
  .content-2.col-5 .row > div {
    float: left;
    width: 20%;
  }
}
@media (min-width: 992px) {
  .content-2.col-5 {
    padding-top: 75px;
  }
  .content-2.col-5 .thumbnail h3 {
    margin-top: 15px;
  }
  .content-2.col-5 .thumbnail h3 + h3 {
    margin-top: -33px;
  }
}
.content-2.col-4 .row > div {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .content-2.col-4 .row > div {
    float: left;
    width: 50%;
  }
}
@media (min-width: 992px) {
  .content-2.col-4 .row > div {
    float: left;
    width: 25%;
  }
}
.content-2.col-3 .row > div {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .content-2.col-3 .row > div {
    float: left;
    width: 33.33333333%;
  }
}
@media (min-width: 992px) {
  .content-2.col-3 {
    padding-top: 64px;
  }
  .content-2.col-3 .thumbnail h3 {
    margin-top: 4px;
  }
  .content-2.col-3 .thumbnail h3 + h3 {
    margin-top: -33px;
  }
  .content-2.col-3 .thumbnail .group {
    margin-top: 37px;
  }
}
.content-2.col-2 .row > div {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .content-2.col-2 .row > div {
    float: left;
    width: 50%;
  }
}
@media (min-width: 992px) {
  .content-2.col-2 {
    padding-top: 48px;
  }
  .content-2.col-2 .thumbnail > img {
    width: 100%;
    max-width: 300px;
  }
  .content-2.col-2 .thumbnail h3 {
    margin-top: -14px;
    margin-bottom: 20px;
    font-size: 25px;
    letter-spacing: 6px;
    line-height: 1.5em;
  }
  .content-2.col-2 .thumbnail h3 + h3 {
    margin-top: -19px;
  }
  .content-2.col-2 .thumbnail p {
    font-size: 17px;
    line-height: 27px;
  }
  .content-2.col-2 .thumbnail .btn {
    padding: 16px 27px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 0px;
    font-size: 14px;
    letter-spacing: 2px;
  }
}
@media (max-width: 767px) {
  .content-2 {
    padding: 0 20px;
  }
  .content-2 .row > div {
    -webkit-box-shadow: inset 0 1px 1px rgba(10, 10, 10, 0.06);
    box-shadow: inset 0 1px 1px rgba(10, 10, 10, 0.06);
  }
  .content-2.dark .row > div {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .content-2.col-5 {
    padding-top: 70px;
  }
  .content-2.col-5 .row > div + div + div + div {
    margin-top: 50px;
  }
  .content-2.col-5 .thumbnail h3 {
    margin-top: 10px;
  }
  .content-2.col-5 .thumbnail h3 + h3 {
    margin-top: -33px;
  }
  .content-2.col-4 {
    padding: 64px 20px 70px;
  }
  .content-2.col-4 .row > div + div + div {
    margin-top: 39px;
  }
  .content-2.col-4 .thumbnail h3 {
    margin-top: 4px;
    margin-bottom: 32px;
  }
  .content-2.col-4 .thumbnail h3 + h3 {
    margin-top: -33px;
  }
  .content-2.col-4 .thumbnail .group {
    margin-top: 37px;
  }
  .content-2.col-3 {
    padding-top: 73px;
  }
  .content-2.col-3 .thumbnail h3 {
    margin-top: 12px;
    margin-bottom: 33px;
  }
  .content-2.col-3 .thumbnail h3 + h3 {
    margin-top: -33px;
  }
  .content-2.col-3 .thumbnail .group {
    margin-top: 36px;
  }
  .content-2.col-2 {
    padding-top: 64px;
  }
  .content-2.col-2 .thumbnail h3 {
    margin-top: 4px;
    margin-bottom: 33px;
  }
  .content-2.col-2 .thumbnail h3 + h3 {
    margin-top: -34px;
  }
  .content-2.col-2 .thumbnail .group {
    margin-top: 36px;
  }
}
.content-2 .container {
  padding: 0;
  position: relative;
  z-index: 3;
}
.content-2 .row {
  margin-left: -24px;
  margin-right: -24px;
}
.content-2 .thumbnail {
  background: none;
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
@media (max-width: 767px) {
  .content-2 .thumbnail {
    padding-top: 52px;
    padding-bottom: 65px;
    margin-bottom: 0;
  }
}
@media (max-width: 480px) {
  .content-2 .thumbnail {
    padding-bottom: 70px;
  }
}
.content-2 .thumbnail > img,
.content-2 .thumbnail .image img {
  max-width: 50%;
}
@media (max-width: 767px) {
  .content-2 .thumbnail > img,
  .content-2 .thumbnail .image img {
    width: 100%;
    max-width: 300px;
  }
}
.content-2 .thumbnail h3 {
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 32px;
  margin-top: 11px;
}
.content-2 .thumbnail h3 + h3 {
  margin-top: -32px;
}
@media (max-width: 767px) {
  .content-2 .thumbnail h3 {
    font-size: 25px;
    letter-spacing: 6px;
    line-height: 1.5em;
    margin-bottom: 20px;
    margin-top: -14px;
  }
  .content-2 .thumbnail h3 + h3 {
    margin-top: -21px;
  }
}
.content-2 .thumbnail p {
  color: #999;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
}
.content-2 .thumbnail p + p {
  margin-top: -10px;
}
@media (max-width: 767px) {
  .content-2 .thumbnail p {
    font-size: 17px;
    line-height: 27px;
  }
}
.content-2 .thumbnail .group {
  line-height: 43px;
  margin-bottom: 14px;
  margin-top: 33px;
  text-align: center;
}
@media (max-width: 767px) {
  .content-2 .thumbnail .group {
    margin-top: 29px;
    line-height: 67px;
  }
}
@media (max-width: 480px) {
  .content-2 .thumbnail .group {
    margin-top: 37px;
  }
}
@media (max-width: 767px) {
  .content-2 .thumbnail .btn {
    padding: 16px 27px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 0px;
    font-size: 14px;
    letter-spacing: 2px;
    margin-right: 9px;
  }
}
@media (max-width: 480px) {
  .content-2 .thumbnail .btn {
    display: block;
    margin-right: 0;
  }
  .content-2 .thumbnail .btn + .btn {
    margin-top: 12px;
  }
}
.content-2.simple h3 {
  margin-top: 0 !important;
  margin-bottom: 31px !important;
}
.content-2.simple h3 + h3 {
  margin-top: -30px !important;
}
.content-2.simple.col-5 {
  padding-top: 77px;
}
.content-2.simple.col-4,
.content-2.simple.col-3 {
  padding-top: 76px;
}
.content-2.simple.col-2 {
  padding-top: 64px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .content-2.simple h3 {
    margin-bottom: 32px !important;
  }
  .content-2.simple.col-5 {
    padding-top: 76px;
  }
  .content-2.simple.col-5 .row > div + div + div + div {
    margin-top: 53px;
  }
  .content-2.simple.col-4 {
    padding-top: 77px;
  }
  .content-2.simple.col-4 .row > div + div + div {
    margin-top: 53px;
  }
  .content-2.simple.col-2 {
    padding-top: 76px;
  }
}
@media (max-width: 767px) {
  .content-2.simple {
    padding-top: 0 !important;
  }
  .content-2.simple .thumbnail {
    padding-top: 68px;
  }
  .content-2.simple h3 {
    margin-bottom: 20px !important;
  }
  .content-2.simple h3 + h3 {
    margin-top: -21px !important;
  }
}
.content-2.dark {
  background: #3c3c3c;
}
.content-2.dark h1,
.content-2.dark h2,
.content-2.dark h3,
.content-2.dark h4 {
  color: #fff;
}
.content-2.dark p {
  color: #fff;
}
.content-2.dark .btn-default {
  border-color: #fff;
  color: #fff;
}
.content-2.dark .btn-default:hover,
.content-2.dark .btn-default:focus,
.content-2.dark .btn-default.focus,
.content-2.dark .btn-default:active,
.content-2.dark .btn-default.active,
.open > .dropdown-toggle.content-2.dark .btn-default {
  background-color: #fff;
  border-color: #fff;
  color: #252525;
}
.pricing-table-1 {
  -webkit-box-shadow: inset 0 1px 0 rgba(10, 10, 10, 0.06);
  box-shadow: inset 0 1px 0 rgba(10, 10, 10, 0.06);
  background: #f0f0f0;
  overflow: hidden;
  padding: 100px 0 67px;
  position: relative;
}
.pricing-table-1 .container {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  position: relative;
  z-index: 3;
}
.pricing-table-1.col-4 .row > div {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding: 0;
}
@media (min-width: 768px) {
  .pricing-table-1.col-4 .row > div {
    float: left;
    width: 25%;
  }
}
.pricing-table-1.col-3 .container {
  max-width: 750px;
}
.pricing-table-1.col-3 .row > div {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding: 0;
}
@media (min-width: 768px) {
  .pricing-table-1.col-3 .row > div {
    float: left;
    width: 33.33333333%;
  }
}
.pricing-table-1.col-2 .container {
  max-width: 600px;
}
.pricing-table-1.col-2 .row > div {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding: 0;
}
@media (min-width: 768px) {
  .pricing-table-1.col-2 .row > div {
    float: left;
    width: 50%;
  }
}
.pricing-table-1 .plan {
  -webkit-box-shadow: 0 2px 2px rgba(10, 10, 10, 0.06);
  box-shadow: 0 2px 2px rgba(10, 10, 10, 0.06);
  background: #fff;
  color: #484f5a;
  margin-right: 1px;
  padding-bottom: 39px;
  text-align: center;
}
.pricing-table-1 .plan h3 {
  background: #323b44;
  border-radius: 7px 7px 0 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 0;
  padding: 18px 0 19px;
  position: relative;
  top: -7px;
}
.pricing-table-1 .plan p {
  margin-bottom: 0;
}
.pricing-table-1 .plan .price {
  font-size: 80px;
  letter-spacing: 1px;
  padding: 7px 0 0;
}
.pricing-table-1 .plan .price small {
  color: #aaa;
  display: block;
  font-size: 13px;
  margin-top: -11px;
  padding-bottom: 19px;
}
.pricing-table-1 .plan .price strong {
  font-weight: normal;
  left: -10px;
  position: relative;
}
.pricing-table-1 .plan .price sup {
  display: inline-block;
  font-size: 32px;
  height: 1px;
  margin: 58px 0 0 -4px;
  position: relative;
  vertical-align: top;
  width: 25px;
}
.pricing-table-1 .plan .price:after {
  background: #eee;
  content: "";
  display: block;
  height: 1px;
  margin: 20px auto 0;
  width: 80%;
}
.pricing-table-1 .plan ul {
  font-size: 14px;
  list-style: none;
  margin: 35px 0 35px;
  padding-left: 0;
}
.pricing-table-1 .plan ul li {
  margin-bottom: 12px;
}
.pricing-table-1 .plan .btn {
  margin-bottom: 2px;
  margin-top: 1px;
}
.pricing-table-1 .favorite {
  -webkit-box-shadow: 0 0 10px rgba(10, 10, 10, 0.35);
  box-shadow: 0 0 10px rgba(10, 10, 10, 0.35);
  margin-left: -5px;
  margin-right: -5px;
  padding-bottom: 52px;
  position: relative;
  top: -13px;
  z-index: 2;
}
.pricing-table-1 .favorite h3 {
  background: #f97352;
}
.pricing-table-1 .favorite .price {
  padding-top: 20px;
}
.pricing-table-1 .favorite .price strong {
  left: -8px;
}
.pricing-table-1 .green h3 {
  background: #7ac673;
}
.pricing-table-1 .blue h3 {
  background: #27aae0;
}
.pricing-table-1 .orange h3 {
  background: #faaf40;
}
@media (max-width: 767px) {
  .pricing-table-1 {
    padding: 30px 20px 10px 20px;
  }
  .pricing-table-1 .plan {
    margin-bottom: 20px;
  }
  .pricing-table-1 .plan ul {
    margin: 36px 0 34px;
  }
  .pricing-table-1 .plan .btn {
    margin-top: 2px;
  }
  .pricing-table-1 .favorite {
    margin-left: 0;
    margin-right: 0;
    top: 0;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .pricing-table-1 .plan {
    padding-bottom: 64px;
  }
  .pricing-table-1 .plan .price {
    font-size: 120px;
    line-height: 142px;
  }
  .pricing-table-1 .plan .price small {
    font-size: 16px;
    margin-top: -1px;
    padding-bottom: 18px;
    line-height: 23px;
  }
  .pricing-table-1 .plan .price sup {
    font-size: 36px;
    margin: 77px 0 0 -4px;
  }
  .pricing-table-1 .plan ul {
    font-size: 16px;
    margin: 35px 0 22px;
  }
  .pricing-table-1 .plan .btn {
    padding: 16px 27px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 0px;
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 3px;
    margin-top: -13px;
    position: relative;
    top: 26px;
  }
}
.ck-navbar {
  position: relative;
  width: 100%;
}
.ck-navbar:before {
  content: "";
  display: block;
}
.ck-navbar__brand-link:after,
.ck-navbar__brand-img {
  height: 74px;
}
.ck-navbar:before,
.ck-navbar__container {
  height: 98px;
}
.ck-navbar--ss .ck-navbar__brand-link:after,
.ck-navbar--ss .ck-navbar__brand-img {
  height: 74px;
}
.ck-navbar--ss:before,
.ck-navbar--ss .ck-navbar__container {
  height: 98px;
}
.ck-navbar--xs .ck-navbar__brand-link:after,
.ck-navbar--xs .ck-navbar__brand-img {
  height: 32px;
}
.ck-navbar--xs:before,
.ck-navbar--xs .ck-navbar__container {
  height: 56px;
}
.ck-navbar--s .ck-navbar__brand-link:after,
.ck-navbar--s .ck-navbar__brand-img {
  height: 48px;
}
.ck-navbar--s:before,
.ck-navbar--s .ck-navbar__container {
  height: 72px;
}
.ck-navbar--m .ck-navbar__brand-link:after,
.ck-navbar--m .ck-navbar__brand-img {
  height: 64px;
}
.ck-navbar--m:before,
.ck-navbar--m .ck-navbar__container {
  height: 88px;
}
.ck-navbar--l .ck-navbar__brand-link:after,
.ck-navbar--l .ck-navbar__brand-img {
  height: 96px;
}
.ck-navbar--l:before,
.ck-navbar--l .ck-navbar__container {
  height: 120px;
}
.ck-navbar--xl .ck-navbar__brand-link:after,
.ck-navbar--xl .ck-navbar__brand-img {
  height: 128px;
}
.ck-navbar--xl:before,
.ck-navbar--xl .ck-navbar__container {
  height: 152px;
}
.ck-navbar--short .ck-navbar__brand-link:after,
.ck-navbar--short .ck-navbar__brand-img {
  height: 40px;
}
.ck-navbar--short:before,
.ck-navbar--short .ck-navbar__container {
  height: 64px;
}
.ck-navbar--short .ck-navbar__container {
  padding: 12px 0;
}
@media (max-width: 767px) {
  .ck-navbar--short .ck-navbar__brand-link:after,
  .ck-navbar--short .ck-navbar__brand-img {
    height: 31px;
  }
  .ck-navbar--short:before,
  .ck-navbar--short .ck-navbar__container {
    height: 45px;
  }
  .ck-navbar--short .ck-navbar__container {
    padding: 7px 0;
  }
}
.ck-navbar__brand-img {
  position: relative;
}
.ck-navbar__brand-img,
.ck-navbar__container,
.ck-navbar__section {
  -webkit-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
.ck-navbar__section {
  background: #2c2c2c;
  height: auto;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.ck-navbar__container {
  display: table;
  padding: 12px 0;
  width: 100%;
}
.ck-navbar__menu-box {
  display: table;
  width: 100%;
}
.ck-navbar__menu-box--inline-left,
.ck-navbar__menu-box--inline-center,
.ck-navbar__menu-box--inline-right {
  display: block;
  text-align: left;
}
.ck-navbar__menu-box--inline-center {
  text-align: center;
}
.ck-navbar__menu-box--inline-right {
  text-align: right;
}
.ck-navbar__column {
  display: table-cell;
  vertical-align: middle;
}
.ck-navbar__column--xxs {
  width: 1%;
}
.ck-navbar__column--xs {
  width: 10%;
}
.ck-navbar__column--s {
  width: 20%;
}
.ck-navbar__column--m {
  width: 30%;
}
.ck-navbar__column--l {
  width: 40%;
}
.ck-navbar__column--xl {
  width: 50%;
}
.ck-navbar__menu-box--inline-left .ck-navbar__column,
.ck-navbar__menu-box--inline-center .ck-navbar__column,
.ck-navbar__menu-box--inline-right .ck-navbar__column {
  display: inline-block;
}
.ck-navbar__items {
  float: left;
  padding-left: 0px;
  position: relative;
  left: -20px;
}
.ck-navbar__items--right {
  float: right;
  left: 0;
}
.ck-navbar__item {
  display: block;
  float: left;
  position: relative;
}
.ck-navbar__hamburger {
  display: none;
  margin-top: -11px;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 10000;
}
.ck-navbar--collapsed .ck-navbar__container {
  position: relative;
}
.ck-navbar--collapsed .ck-navbar__column {
  display: block;
  width: 100%;
}
.ck-navbar--collapsed .ck-navbar__items--right {
  padding-top: 13px;
}
.ck-navbar--collapsed .ck-navbar__menu {
  background: rgba(0, 0, 0, 0.9);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.ck-navbar--collapsed .ck-navbar__menu-box {
  display: table-cell;
  vertical-align: middle;
}
.ck-navbar--collapsed .ck-navbar__items {
  float: none;
}
.ck-navbar--collapsed .ck-navbar__item {
  float: none;
}
.ck-navbar--collapsed .ck-navbar__hamburger {
  display: block;
}
.ck-navbar--collapsed.ck-navbar--open .ck-navbar__menu {
  display: table;
}
.ck-navbar--collapsed.ck-navbar--open:not(.ck-navbar--sticky) .ck-navbar__section {
  background: none;
  position: fixed;
}
.ck-navbar--collapsed.ck-navbar--open .ck-navbar__brand {
  visibility: hidden;
}
.ck-navbar--collapsed.ck-navbar--sticky.ck-navbar--open .ck-navbar__brand {
  visibility: visible;
}
.ck-navbar--collapsed.ck-navbar--open .ck-navbar__brand-img,
.ck-navbar--collapsed.ck-navbar--open .ck-navbar__container {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
.ck-navbar--freeze.ck-navbar--collapsed.ck-navbar--open .ck-navbar__hamburger,
.ck-navbar--freeze.ck-navbar--collapsed.ck-navbar--open .ck-navbar__hamburger:hover {
  color: #fff !important;
}
.ck-navbar--sticky .ck-navbar__section {
  position: fixed;
}
.ck-navbar--absolute {
  position: absolute;
}
.ck-navbar--transparent .ck-navbar__section {
  background: none;
}
.ck-navbar--stuck .ck-navbar__section,
.ck-navbar--relative .ck-navbar__section {
  background: #2c2c2c;
}
@media (max-width: 991px) {
  .ck-navbar--auto-collapse .ck-navbar__container {
    position: relative;
  }
  .ck-navbar--auto-collapse .ck-navbar__column {
    display: block;
    width: 100%;
  }
  .ck-navbar--auto-collapse .ck-navbar__items--right {
    padding-top: 13px;
  }
  .ck-navbar--auto-collapse .ck-navbar__menu {
    background: rgba(0, 0, 0, 0.9);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
  }
  .ck-navbar--auto-collapse .ck-navbar__menu-box {
    display: table-cell;
    vertical-align: middle;
  }
  .ck-navbar--auto-collapse .ck-navbar__items {
    float: none;
  }
  .ck-navbar--auto-collapse .ck-navbar__item {
    float: none;
  }
  .ck-navbar--auto-collapse .ck-navbar__hamburger {
    display: block;
  }
  .ck-navbar--auto-collapse.ck-navbar--open .ck-navbar__menu {
    display: table;
  }
  .ck-navbar--auto-collapse.ck-navbar--open:not(.ck-navbar--sticky) .ck-navbar__section {
    background: none;
    position: fixed;
  }
  .ck-navbar--auto-collapse.ck-navbar--open .ck-navbar__brand {
    visibility: hidden;
  }
  .ck-navbar--auto-collapse.ck-navbar--sticky.ck-navbar--open .ck-navbar__brand {
    visibility: visible;
  }
  .ck-navbar--auto-collapse.ck-navbar--open .ck-navbar__brand-img,
  .ck-navbar--auto-collapse.ck-navbar--open .ck-navbar__container {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
  .ck-navbar--freeze.ck-navbar--auto-collapse.ck-navbar--open .ck-navbar__hamburger,
  .ck-navbar--freeze.ck-navbar--auto-collapse.ck-navbar--open .ck-navbar__hamburger:hover {
    color: #fff !important;
  }
}
.ck-after-navbar:before {
  content: "";
  display: block;
  height: 98px;
}
.ck-hamburger {
  cursor: pointer;
  height: 23px;
  width: 30px;
}
.ck-hamburger:focus {
  outline: none;
}
.ck-hamburger__line,
.ck-hamburger__line:before,
.ck-hamburger__line:after {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  cursor: pointer;
}
.ck-hamburger__line,
.ck-hamburger__line:before,
.ck-hamburger__line:after {
  width: 30px;
  border-bottom: 5px solid;
  top: 9px;
}
.ck-hamburger__line:before {
  top: -9px;
}
.ck-hamburger__line:after {
  top: 9px;
}
.ck-hamburger__line,
.ck-hamburger__line:before,
.ck-hamburger__line:after {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.ck-hamburger--open .ck-hamburger__line {
  border-color: transparent;
}
.ck-hamburger--open .ck-hamburger__line:before,
.ck-hamburger--open .ck-hamburger__line:after {
  top: 0;
}
.ck-hamburger--open .ck-hamburger__line:before {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.ck-hamburger--open .ck-hamburger__line:after {
  top: 10px;
  -ms-transform: translatey(-10px) rotate(-45deg);
  -webkit-transform: translatey(-10px) rotate(-45deg);
  transform: translatey(-10px) rotate(-45deg);
}
@media (max-width: 767px) {
  .ck-hamburger {
    height: 23px;
    width: 27px;
  }
  .ck-hamburger__line,
  .ck-hamburger__line:before,
  .ck-hamburger__line:after {
    width: 27px;
    border-bottom: 4px solid;
    top: 9px;
  }
  .ck-hamburger__line:before {
    top: -9px;
  }
  .ck-hamburger__line:after {
    top: 9px;
  }
}
.ck-brand {
  display: block;
  float: left;
  position: relative;
}
.ck-brand,
.ck-brand:hover {
  text-decoration: none;
}
.ck-brand__name {
  display: block;
  font-weight: bold;
  margin-top: 5px;
  text-align: center;
}
.ck-brand__name,
.ck-brand__name:hover {
  text-decoration: none;
}
.ck-brand--inline {
  display: table;
}
.ck-brand--inline:after {
  content: "";
  display: table-cell;
  width: 1px;
}
.ck-brand--inline .ck-brand__logo,
.ck-brand--inline .ck-brand__name {
  display: table-cell;
  vertical-align: middle;
}
.ck-brand--inline .ck-brand__logo {
  padding-right: 10px;
}
.ck-brand--inline .ck-brand__name {
  margin: 0;
  text-align: left;
}
.ck-form {
  display: table;
  margin-top: -13px;
  position: relative;
  top: 14px;
  width: 100%;
}
.ck-form__left,
.ck-form__right {
  display: table-cell;
  vertical-align: top;
}
.ck-form__left {
  padding-right: 3px;
}
.ck-form__right {
  width: 1px;
}
@media (max-width: 530px) {
  .ck-form {
    display: block;
    margin-top: -27px;
    position: relative;
    top: 26px;
  }
  .ck-form__left,
  .ck-form__right {
    display: block;
  }
  .ck-form__left {
    margin-bottom: 12px;
    padding-right: 0;
  }
  .ck-form__right {
    width: 100%;
  }
}
.ck-section {
  padding: 0 20px;
}
.ck-section--no-padding {
  padding: 0;
}
.ck-section--relative {
  position: relative;
}
.ck-section--fixed-size {
  overflow: hidden;
}
.ck-section--full-height {
  height: 100vh;
}
.ck-section--full-height.ck-after-navbar:before {
  display: none;
}
.ck-section--bg-adapted {
  background-attachment: scroll;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.ck-section--gray {
  background-color: #444444;
}
.ck-section--light-gray {
  background-color: #f0f0f0;
}
.ck-section--dark-gray {
  background-color: #3c3c3c;
}
.ck-section__container {
  padding: 0;
  position: relative;
  z-index: 3;
}
.ck-section__container--std-padding {
  padding: 93px 0;
}
.ck-section__container--sm-padding {
  padding: 41px 0;
}
.ck-section__container--isolated {
  padding-bottom: 93px;
  padding-top: 93px;
}
.ck-section__container--first {
  padding-top: 93px;
  padding-bottom: 41px;
}
.ck-section__container--middle {
  padding-bottom: 41px;
}
.ck-section__container--last {
  padding-bottom: 93px;
}
.ck-section__left {
  padding-right: 40px;
}
.ck-section__right {
  padding-left: 15px;
}
.ck-section__header {
  line-height: 1.5em;
  margin: -10px 0 0;
  text-align: center;
}
@media (max-width: 767px) {
  .ck-section__left {
    padding-right: 15px;
  }
  .ck-section__right {
    padding-left: 15px;
    padding-top: 51px;
  }
}
.ck-arrow {
  bottom: 71px;
  left: 0;
  line-height: 1px;
  padding: 0 20px;
  position: absolute;
  width: 100%;
  z-index: 3;
}
.ck-arrow__link {
  display: inline-block;
  font-size: 26px;
}
.ck-arrow__link,
.ck-arrow__link:hover,
.ck-arrow__link:focus {
  color: #fff;
}
.ck-arrow--floating .ck-arrow__link {
  -webkit-animation: floating-arrow 1.6s infinite ease-in-out 0s;
  -o-animation: floating-arrow 1.6s infinite ease-in-out 0s;
  animation: floating-arrow 1.6s infinite ease-in-out 0s;
}
@-webkit-keyframes floating-arrow {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  65% {
    -webkit-transform: translateY(11px);
    transform: translateY(11px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-o-keyframes floating-arrow {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  65% {
    -webkit-transform: translateY(11px);
    transform: translateY(11px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes floating-arrow {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  65% {
    -webkit-transform: translateY(11px);
    transform: translateY(11px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.ck-arrow--dark .ck-arrow__link,
.ck-arrow--dark .ck-arrow__link:hover,
.ck-arrow--dark .ck-arrow__link:focus {
  color: #252525;
}
@media (max-width: 767px) {
  .ck-arrow {
    bottom: 41px;
  }
}
@media (max-width: 320px) {
  .ck-arrow {
    bottom: 21px;
    text-align: center;
  }
}
@media all and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
  .ck-arrow {
    bottom: 31px;
  }
}
.ck-box {
  display: table;
  width: 100%;
}
.ck-box--fixed {
  table-layout: fixed;
}
.ck-box--stretched {
  height: 100%;
}
.ck-box__magnet {
  display: table-cell;
  float: none;
  height: 100%;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  vertical-align: middle;
}
.ck-box__magnet--sm-padding {
  padding: 41px 0;
}
.ck-box__magnet--top-left,
.ck-box__magnet--top-center,
.ck-box__magnet--top-right {
  vertical-align: top;
}
.ck-box__magnet--bottom-left,
.ck-box__magnet--bottom-center,
.ck-box__magnet--bottom-right {
  vertical-align: bottom;
}
.ck-box__magnet--top-left,
.ck-box__magnet--center-left,
.ck-box__magnet--bottom-left {
  text-align: left;
}
.ck-box__magnet--top-right,
.ck-box__magnet--center-right,
.ck-box__magnet--bottom-right {
  text-align: right;
}
.ck-box__container {
  height: 50%;
}
@media (max-width: 767px) {
  .ck-box__container {
    height: 100%;
  }
  .ck-box--adapted {
    display: block;
  }
  .ck-box--adapted > .ck-box__magnet {
    display: block;
    height: auto;
  }
}
.ck-overlay {
  background: #222;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
.ck-google-map__marker {
  color: #252525;
  display: none;
  margin: 0;
}
.ck-google-map--loaded .ck-google-map__marker {
  display: block;
}
.ck-hero {
  color: #fff;
  position: relative;
}
.ck-hero__text {
  font-size: 46px;
  font-weight: bold;
  left: -2px;
  letter-spacing: 2px;
  line-height: 50px;
  margin: -18px 0 1px 0;
  padding-bottom: 41px;
  position: relative;
  top: 8px;
}
.ck-hero__subtext {
  font-size: 21px;
  line-height: 29px;
  margin: -32px 0 3px 0;
  padding: 0 0 41px 0;
  position: relative;
  top: 6px;
}
.ck-figure {
  display: inline-block;
  line-height: 1px;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}
.ck-figure--no-bg {
  background: none;
}
.ck-figure--full-width {
  display: block;
  width: 100%;
}
.ck-figure.ck-after-navbar:before {
  display: none;
}
.ck-figure--full-width iframe,
.ck-figure--full-width .ck-figure__img,
.ck-figure--full-width .ck-figure__map {
  width: 100%;
}
.ck-figure iframe,
.ck-figure__img,
.ck-figure__map {
  max-width: 100%;
}
.ck-figure__map {
  height: 400px;
  line-height: 1.3em;
}
.ck-figure__map--short {
  height: 300px;
}
.ck-figure__caption {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  color: #fff;
  display: block;
  font-size: 17px;
  left: 0;
  line-height: 1.3em;
  min-height: 53px;
  padding: 17px 20px;
  position: absolute;
  text-align: left;
  width: 100%;
}
.ck-figure__caption--no-padding {
  padding: 17px 0;
}
.ck-figure--wysiwyg .ck-figure__caption a,
.ck-figure--wysiwyg .ck-figure__caption a:hover {
  color: inherit;
  text-decoration: underline;
}
.ck-figure--caption-inside-top .ck-figure__caption {
  bottom: auto;
  top: 0;
}
.ck-figure--caption-outside-top .ck-figure__caption,
.ck-figure--caption-outside-bottom .ck-figure__caption {
  background: none;
  position: relative;
}
.ck-figure--no-bg.ck-figure--caption-outside-top .ck-figure__caption,
.ck-figure--no-bg.ck-figure--caption-outside-bottom .ck-figure__caption {
  color: #252525;
}
.ck-figure--no-bg.ck-figure--caption-outside-top .ck-figure__caption {
  margin-top: -3px;
  padding-top: 0;
}
.ck-figure--no-bg.ck-figure--caption-outside-bottom .ck-figure__caption {
  margin-top: -2px;
  padding-bottom: 0;
  top: 2px;
}
.ck-figure__caption--std-grid {
  background: none;
  z-index: 2;
}
@media (min-width: 768px) {
  .ck-figure__caption--std-grid {
    width: 715px;
    left: 50%;
    margin-left: -357.5px;
    padding: 17px 0;
  }
}
@media (min-width: 992px) {
  .ck-figure__caption--std-grid {
    width: 935px;
    margin-left: -467.5px;
  }
}
@media (min-width: 1200px) {
  .ck-figure__caption--std-grid {
    width: 1150px;
    margin-left: -575px;
  }
}
.ck-figure__caption--std-grid:before {
  bottom: 0;
  content: "";
  position: absolute;
  top: 0;
  width: 200%;
  z-index: -1;
  margin-left: -50%;
}
.ck-figure--caption-inside-top .ck-figure__caption--std-grid:before,
.ck-figure--caption-inside-bottom .ck-figure__caption--std-grid:before {
  background: rgba(0, 0, 0, 0.6);
}
.ck-figure__caption-small {
  color: #ccc;
  display: block;
  font-size: 14px;
  line-height: 1.3em;
}
.ck-figure--no-bg.ck-figure--caption-outside-top .ck-figure__caption-small,
.ck-figure--no-bg.ck-figure--caption-outside-bottom .ck-figure__caption-small {
  color: #777;
}
@media (max-width: 767px) {
  .ck-figure--adapted {
    display: block;
    width: 100%;
  }
  .ck-figure--adapted iframe,
  .ck-figure--adapted .ck-figure__img,
  .ck-figure--adapted .ck-figure__map {
    width: 100%;
  }
  .ck-figure--caption-inside-top .ck-figure__caption,
  .ck-figure--caption-inside-bottom .ck-figure__caption {
    background: none;
    position: relative;
  }
  .ck-figure--caption-inside-top .ck-figure__caption--std-grid:before,
  .ck-figure--caption-inside-bottom .ck-figure__caption--std-grid:before {
    display: none;
  }
}
.ck-reviews {
  list-style: none;
  margin: 0 -15px;
  padding: 3px 0 0 0;
}
.ck-reviews__item {
  position: relative;
  margin-top: 39px;
}
.ck-reviews__text {
  background: #fafafa;
  border-radius: 3px;
  border: 1px solid #ededed;
  color: #777;
  font-size: 16px;
  line-height: 26px;
  padding: 20px;
  position: relative;
}
.ck-reviews__text:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 14px;
  height: 14px;
  background-color: #fafafa;
  border-color: #ededed;
  border-style: none solid solid none;
  border-width: 0 1px 1px 0;
  bottom: -8px;
  content: "";
  display: block;
  left: 50px;
  position: absolute;
}
.ck-reviews__p {
  margin: 0;
}
.ck-reviews__author {
  margin-top: 30px;
  padding-left: 102px;
  position: relative;
}
.ck-reviews__author--short {
  margin-top: 27px;
  padding-left: 32px;
}
.ck-reviews__author-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: 33px;
  position: absolute;
  top: 0;
}
.ck-reviews__author-name {
  color: #777;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  top: -3px;
}
.ck-reviews__author-bio {
  color: #999;
  font-size: 12px;
}
@media (max-width: 767px) {
  .ck-reviews__author {
    padding-bottom: 32px;
  }
  .ck-reviews__author--short {
    padding-bottom: 1px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .ck-reviews__item:nth-of-type(2n+1) {
    clear: left;
  }
}
@media (min-width: 992px) {
  .ck-reviews__item:nth-of-type(3n+1) {
    clear: left;
  }
}
.ck-header {
  margin-top: -20px;
  padding: 0;
  position: relative;
  text-align: left;
  top: 10px;
}
.ck-header--std-padding {
  padding-bottom: 41px;
}
.ck-header--center {
  text-align: center;
}
.ck-header__text {
  display: block;
  font-size: 25px;
  font-weight: bold;
  // letter-spacing: 3px;
  line-height: 1.5em;
  margin: 0;
}
.ck-header__subtext {
  color: #777;
  font-size: 14px;
  font-style: italic;
  letter-spacing: 1px;
  margin: 8px 0 7px 0;
}
.ck-header--inline {
  margin-top: 0;
  padding: 41px 0 28px 0;
  top: 0;
}
.ck-header--inline .ck-header__text {
  letter-spacing: 4px;
  line-height: 1em;
  margin: 15px 0 0 0;
}
@media (max-width: 767px) {
  .ck-header--inline {
    padding: 47px 0 38px 0;
  }
  .ck-header--inline .ck-header__text {
    display: block;
    margin: 0 0 38px 0;
  }
  .ck-header--auto-align .ck-header__text,
  .ck-header--auto-align .ck-header__subtext {
    left: 0;
    text-align: center !important;
  }
}
.ck-social-icons__icon {
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 29px;
  height: 56px;
  line-height: 61px;
  margin: 0 10px 13px 0;
  position: relative;
  text-align: center;
  width: 56px;
}
.ck-social-icons__icon:hover {
  color: #fff;
}
.ck-social-icons--style-1 .ck-social-icons__icon:hover {
  background: #252525 !important;
}
.ck-contacts {
  color: #9c9c9c;
  font-size: 14px;
  line-height: 1.7em;
  padding: 45px 0 46px;
}
.ck-contacts__img {
  max-width: 100%;
  margin: 6px 0 5px 40px;
}
.ck-contacts__img--left {
  margin-left: 0;
}
.ck-contacts__text {
  margin: 0;
}
.ck-contacts__header {
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  margin-top: 3px;
}
.ck-contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  .ck-contacts__img {
    margin-bottom: 10px;
  }
  .ck-contacts__header {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .ck-contacts__column {
    margin-top: 37px;
  }
}
.ck-footer {
  color: #9c9c9c;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 1.5em;
  padding: 37px 0 39px;
  word-spacing: 1px;
}
.ck-footer__copyright {
  margin: 0;
}
.ck-buttons {
  margin: -26px 0 13px 0;
  position: relative;
  text-align: left;
  top: 26px;
}
.ck-buttons__btn,
.ck-buttons__link {
  margin: 0 10px 13px 0;
}
.ck-buttons__btn,
.ck-buttons__link,
.ck-buttons__btn:hover,
.ck-buttons__link:hover {
  text-decoration: none;
}
.ck-buttons--no-offset {
  margin-top: 0;
  top: 0;
}
.ck-buttons--only-links {
  left: -20px;
}
.ck-buttons--center {
  left: 5px;
  text-align: center;
}
.ck-buttons--center.ck-buttons--only-links {
  left: 0;
}
.ck-buttons--right {
  text-align: right;
}
.ck-buttons--right .ck-buttons__btn,
.ck-buttons--right .ck-buttons__link {
  margin: 0 0 13px 10px;
}
.ck-buttons--right.ck-buttons--only-links {
  left: 20px;
}
.ck-buttons--activated {
  left: 5px;
  text-align: center;
}
.ck-buttons--activated .ck-buttons__btn,
.ck-buttons--activated .ck-buttons__link {
  margin-left: 0;
  margin-right: 0;
}
.ck-buttons--activated .ck-buttons__link {
  font-size: 25px;
  padding: 10px 30px 2px;
}
.ck-buttons--activated .ck-buttons__btn {
  font-size: 15px;
  margin-top: 9px;
  padding: 15px 30px;
}
.ck-buttons--freeze.ck-buttons--activated .ck-buttons__link {
  font-size: 25px !important;
}
.ck-buttons--freeze.ck-buttons--activated .ck-buttons__link,
.ck-buttons--freeze.ck-buttons--activated .ck-buttons__link:hover {
  color: #fff !important;
}
.ck-buttons--freeze.ck-buttons--activated .ck-buttons__btn {
  font-size: 15px !important;
}
@media (max-width: 991px) {
  .ck-buttons--active {
    left: 5px;
    text-align: center;
  }
  .ck-buttons--active .ck-buttons__btn,
  .ck-buttons--active .ck-buttons__link {
    margin-left: 0;
    margin-right: 0;
  }
  .ck-buttons--active .ck-buttons__link {
    font-size: 25px;
    padding: 10px 30px 2px;
  }
  .ck-buttons--active .ck-buttons__btn {
    font-size: 15px;
    margin-top: 9px;
    padding: 15px 30px;
  }
  .ck-buttons--freeze.ck-buttons--active .ck-buttons__link {
    font-size: 25px !important;
  }
  .ck-buttons--freeze.ck-buttons--active .ck-buttons__link,
  .ck-buttons--freeze.ck-buttons--active .ck-buttons__link:hover {
    color: #fff !important;
  }
  .ck-buttons--freeze.ck-buttons--active .ck-buttons__btn {
    font-size: 15px !important;
  }
}
@media (max-width: 767px) {
  .ck-buttons--auto-align {
    left: 5px;
    text-align: center;
  }
  .ck-buttons--auto-align.ck-buttons--only-links {
    left: 0;
  }
}
@media (max-width: 530px) {
  .ck-buttons {
    left: 0;
  }
  .ck-buttons__btn,
  .ck-buttons__link,
  .ck-buttons--right .ck-buttons__btn,
  .ck-buttons--right .ck-buttons__link {
    display: inline-block;
    margin: 0 0 13px 0;
    text-align: center;
    width: 100%;
  }
  .ck-buttons--activated .ck-buttons__btn,
  .ck-buttons--activated .ck-buttons__link,
  .ck-buttons--active .ck-buttons__btn,
  .ck-buttons--active .ck-buttons__link {
    width: auto;
  }
  .ck-buttons--activated .ck-buttons__btn,
  .ck-buttons--active .ck-buttons__btn {
    margin-top: 9px;
  }
}
.ck-article {
  color: #777;
  font-size: 17px;
  line-height: 27px;
  text-align: left;
  position: relative;
  margin-top: -21px;
  top: 14px;
}
.ck-article--wysiwyg h1,
.ck-article--wysiwyg h2,
.ck-article--wysiwyg h3,
.ck-article--wysiwyg h4,
.ck-article--wysiwyg h5,
.ck-article--wysiwyg h6 {
  color: #252525;
  display: block;
  font-weight: bold;
  line-height: 1.3em;
  text-align: left;
}
.ck-article--wysiwyg h1 {
  font-size: 27px;
  letter-spacing: 3px;
}
.ck-article--wysiwyg h2 {
  font-size: 23px;
  letter-spacing: 2px;
}
.ck-article--wysiwyg h3 {
  font-size: 19px;
  letter-spacing: 1px;
}
.ck-article--wysiwyg h4 {
  font-size: 14px;
}
.ck-article--wysiwyg h5 {
  font-size: 11px;
}
.ck-article--wysiwyg h6 {
  font-size: 10px;
}
.ck-article--wysiwyg p,
.ck-article--wysiwyg ul,
.ck-article--wysiwyg ol,
.ck-article--wysiwyg blockquote {
  margin: 0 0 10px 0;
}
.ck-article--wysiwyg blockquote {
  font-size: 17px;
  border-color: #f97352;
}
@media (max-width: 767px) {
  .ck-article--auto-align.ck-article--wysiwyg p,
  .ck-article--auto-align {
    text-align: left !important;
  }
}
.social-likes__counter {
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  background: #3c3c3c;
  border-radius: 23px;
  font-size: 12px;
  height: 23px;
  line-height: 24px;
  min-width: 23px;
  padding: 0 5px;
  position: absolute;
  right: -7px;
  text-align: center;
  top: -7px;
}
.social-likes__counter_empty {
  display: none;
}
.social-likes_style-1 .social-likes__icon:hover {
  background: #252525 !important;
}
.social-likes_style-1 .social-likes__icon:hover .social-likes__counter {
  background: #f97352;
}
.social-likes_style-2 .social-likes__icon {
  background: #252525;
}
.social-likes_style-2 .social-likes__counter {
  background: #f97352;
}
.social-likes_style-2 .social-likes__icon:hover .social-likes__counter {
  background: #3c3c3c;
}
.engine {
	position: absolute;
	text-indent: -2400px;
	text-align: center;
	padding: 0;
}


#header1-40 .btn {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}
#header1-40 H1 {
  font-family: 'Montserrat', sans-serif;
}
#header1-40 P {
  font-family: 'Montserrat', sans-serif;
}
#menu-41 .ck-brand__name {
  font-size: 16px;
}
#menu-41.ck-navbar--stuck .ck-navbar__section {
  background: #395259;
}
#menu-41 .ck-brand__name a {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}
#menu-41 .ck-navbar__items a {
  font-family: 'Montserrat', sans-serif;
}
#features1-42 P {
  text-align: center;
}
#features1-44 P {
  text-align: center;
  color: #ffffff;
}
#features1-44 H3 {
  color: #ffffff;
}
#msg-box5-46 .ck-header__text {
  color: #ffffff;
}
#msg-box5-46 .ck-header__subtext {
  color: #ffffff;
}
#msg-box5-46 .ck-article {
  color: #ffffff;
}
#features1-47 P {
  color: #4c6972;
  text-align: center;
}
#msg-box3-48 .ck-header .ck-header__text {
  text-align: center;
}
#msg-box3-48 .ck-header .ck-header__subtext {
  text-align: center;
}
#msg-box2-50 h2 {
  color: #252525;
}
#msg-box2-50 p {
  color: #252525;
}




#content5-77 .caption h3 {
  color: #fff;
  font-size: 46px;
  font-family: 'Montserrat', sans-serif;
}
#content5-77 P {
  color: #fff;
  text-align: center;
  font-size: 21px;
  font-family: 'Montserrat', sans-serif;
}
#menu-59 .ck-brand__name {
  font-size: 16px;
}
#menu-59.ck-navbar--stuck .ck-navbar__section {
  background: #395259;
}
#menu-59 .ck-brand__name a {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}
#menu-59 .ck-navbar__items a {
  font-family: 'Montserrat', sans-serif;
}
#image2-83 SMALL {
  font-size: 17px;
}
#slider2-88 H1 {
  color: #ffffff;
}





#header1-73 .btn {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}
#header1-73 H1 {
  font-family: 'Montserrat', sans-serif;
}
#header1-73 P {
  font-family: 'Montserrat', sans-serif;
}
#menu-74 .ck-brand__name {
  font-size: 16px;
}
#menu-74.ck-navbar--stuck .ck-navbar__section {
  background: #395259;
}
#menu-74 .ck-brand__name a {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}
#menu-74 .ck-navbar__items a {
  font-family: 'Montserrat', sans-serif;
}
#features1-75 P {
  text-align: center;
}
#features1-77 P {
  text-align: center;
  color: #ffffff;
}
#features1-77 H3 {
  color: #ffffff;
}
#msg-box5-79 .ck-header__text {
  color: #ffffff;
}
#msg-box5-79 .ck-header__subtext {
  color: #ffffff;
}
#msg-box5-79 .ck-article {
  color: #ffffff;
}
#features1-80 P {
  color: #4c6972;
  text-align: center;
}
#msg-box3-81 .ck-header .ck-header__text {
  text-align: center;
}
#msg-box3-81 .ck-header .ck-header__subtext {
  text-align: center;
}
#msg-box2-83 h2 {
  color: #252525;
}
#msg-box2-83 p {
  color: #252525;
}


#menu-20 .ck-brand__name {
  font-size: 16px;
}
#menu-20.ck-navbar--stuck .ck-navbar__section {
  background: #395259;
}
#menu-20 .ck-brand__name a {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}
#menu-20 .ck-navbar__items a {
  font-family: 'Montserrat', sans-serif;
}
#features1-21 P {
  text-align: center;
}
#features1-23 P {
  text-align: center;
  color: #ffffff;
}
#features1-23 H3 {
  color: #ffffff;
}
#msg-box5-25 .ck-header__text {
  color: #ffffff;
}
#msg-box5-25 .ck-header__subtext {
  color: #ffffff;
}
#msg-box5-25 .ck-article {
  color: #ffffff;
}
#features1-26 P {
  color: #4c6972;
  text-align: center;
}
#msg-box3-27 .ck-header .ck-header__text {
  text-align: center;
}
#msg-box3-27 .ck-header .ck-header__subtext {
  text-align: center;
}
#msg-box2-29 h2 {
  color: #252525;
}
#msg-box2-29 p {
  color: #252525;
}




#content5-92 .caption h3 {
  color: #fff;
  font-size: 46px;
  font-family: 'Montserrat', sans-serif;
}
#content5-92 P {
  color: #fff;
  text-align: center;
  font-size: 21px;
  font-family: 'Montserrat', sans-serif;
}
#menu-93 .ck-brand__name {
  font-size: 16px;
}
#menu-93.ck-navbar--stuck .ck-navbar__section {
  background: #395259;
}
#menu-93 .ck-brand__name a {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}
#menu-93 .ck-navbar__items a {
  font-family: 'Montserrat', sans-serif;
}
#features1-108 .thumbnail .image img {
  max-width: 100%;
}
#image2-97 SMALL {
  font-size: 17px;
}
#image2-111 SMALL {
  font-size: 20px;
}
#image2-113 SMALL {
  font-size: 20px;
}
#image2-114 SMALL {
  font-size: 20px;
}
#msg-box3-117 .ck-header .ck-header__text {
  text-align: center;
}
#msg-box3-117 .ck-header .ck-header__subtext {
  text-align: center;
}
#msg-box3-117 .ck-article P {
  text-align: left;
}

/*-------

   Gallery

-------*/
.ck-gallery .ck-gallery-item {
    position: relative;
    /*display: inline-block;*/
    padding-bottom: 30px;
}
.ck-gallery .ck-gallery-item > a {
    position: relative;
    display: block;
    background: #fff;
    outline: none;
}
.ck-gallery .ck-gallery-row {
    margin-bottom: -30px;
}
.ck-gallery .ck-gallery-item img {
    width: 100%;
    opacity: 1;
    -webkit-transition: .2s opacity ease-in-out;
    transition: .2s opacity ease-in-out;
}
.ck-gallery .ck-gallery-item > a:hover img {
    opacity: 0.9;
}
.ck-gallery .ck-gallery-item .icon {
    position: absolute;
    font-size: 30px;
    top: 50%;
    left: 50%;
    color: #fff;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: .2s opacity ease-in-out;
    transition: .2s opacity ease-in-out;
}
.ck-gallery .ck-gallery-item > a:hover .icon {
    opacity: 1;
}

/* remove spacing */
.ck-gallery .ck-gallery-row.no-gutter {
    margin: 0;
}
.ck-gallery .ck-gallery-row.no-gutter .ck-gallery-item {
    padding: 0;
}

/* container */
.ck-gallery .container.ck-gallery-layout-default {
    padding: 93px 0;
}

/* fix horizontal scrollbar */
.ck-gallery .ck-gallery-layout-default,
.ck-gallery .ck-gallery-layout-article {
    overflow: hidden;
}

/* article layout */
.ck-gallery .ck-gallery-layout-article > div {
    padding-left: 0;
    padding-right: 0;
}


/* lightbox */
.ck-gallery .modal {
    position: fixed;
    overflow: hidden;
    padding-right: 0 !important;
}
.ck-gallery .modal-body {
    padding: 0;
}
.ck-gallery .modal-body img {
    width: 100%;
}
.ck-gallery .modal .close {
    position: absolute;
    background-image: none;
    font-size: 20px;
    width: 54px;
    height: 54px;
    top: 20px;
    right: 20px;
    line-height: 54px;
    opacity: 1;
    color: #fff;
    border: 2px solid #fff;
    text-align: center;
    text-shadow: none;
    z-index: 5;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
.ck-gallery .modal .close:hover {
    background: #fff;
    color: #000;
}

/* modal back color opacity */
.modal-backdrop.in {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

@media (max-width: 768px) {
    .ck-gallery .modal-dialog {
        margin: 10px auto;
    }

    .ck-gallery .carousel-indicators,
    .ck-gallery .carousel-control,
    .ck-gallery .modal .close {
        position: fixed;
    }
}

/* fix fade in effect */
.ck-gallery .modal.fade .modal-dialog {
    margin-top: -100px;
    -webkit-transition: margin-top 0.3s ease-out;
    -moz-transition: margin-top 0.3s ease-out;
    -o-transition: margin-top 0.3s ease-out;
    transition: margin-top 0.3s ease-out;
}
.ck-gallery .modal.in .modal-dialog,
.ck-gallery .modal.fade .modal-dialog {
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}
.ck-gallery .modal.in .modal-dialog {
    margin-top: 30px;
}

#about {
  background: #DFE2DB !important;
  z-index: 2;
  p {
    color: #3B3738 !important;
  }
}

#services {
  background: #fff !important;
  z-index: 2;
  height: auto;
  h4{
    padding-top: 5em;
    text-align: center;
  }
  li{
    list-style: none;
    text-align: center;
  }
}

.our-work {
  background: #DFE2DB !important;
  z-index: 2;

}

.our-blog-posts {
  background: #fff !important;
  z-index: 2;

}

.about-page {
  padding-top: 70px;
  padding-bottom: 200px;
}

.services-page {
  padding-top: 150px;
  padding-bottom: 200px;
}

.padding-top-login {
  padding-top: 6.250em;
}
.padding-top-what-we-offer-button {
  padding-top: 1.563em;
}

.padding-top-what-we-offer {
  padding-top: 4.375em;
}

.padding-bottom-login {
  padding-bottom: 12.500em;
}
// portifolio stylings goes here 
#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(24,188,156,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

#portfolio{
  .row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
}

.ck-divider{
  width: 33.33%;
  border-top: 0.15em solid #D00000;
}

// article effects

#blog-posts .article-item {
    right: 0;
    margin: 0 0 15px;
}

#blog-posts .article-item .article-link {
    display: block;
    position: relative;
    margin: 0 auto;
    // max-width: 400px;
}

#blog-posts .article-item .article-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(24,188,156,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#blog-posts .article-item .article-link .caption:hover {
    opacity: 1;
}

#blog-posts .article-item .article-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#blog-posts .article-item .article-link .caption .caption-content i {
    margin-top: -12px;
}

#blog-posts .article-item .article-link .caption .caption-content h3,
#blog-posts .article-item .article-link .caption .caption-content h4 {
    margin: 0;
}

#blog-posts * {
    z-index: 2;
}

@media(min-width:767px) {
    #blog-posts .article-item {
        margin: 0 0 30px;
    }
}

#blog-posts{
  .row.no-gutters {
  margin-right: 0;
  margin-left: 0;
  }
  .row.no-gutters > [class^="col-"],
  .row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

