footer{
  background: #3B3738 !important;
  width: 100%;
  color: #fff;
  z-index: 2;
  padding-top: 3em;
  position: absolute;
  .fa{
    color: #fff;
  }
  .social-links{
     h4{
       text-align: center;
     }
     li{
       text-align: center;
     }
    .social{
      width: 170px;
      color: #31B0D5;
      // font-size: 30px;
      &:hover{
        -webkit-transform: rotate(-10deg);
       -moz-transform: rotate(-10deg);
         -o-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
            transform: rotate(-10deg);
      }
    }
  }
  
  i{
      padding-left: 3em;
      padding-right: 3em;
      text-align: center;
    }
    
  .divider{
    width: 33.33%;
    text-align: center;
  }
 .site-links{
   text-align: center;
    a{
      text-decoration: none;
      letter-spacing: 0.10em;
      color: #fff;
      &:hover{
        color: #777;
      }
    }
  }
  
  .footer-2{
    padding-top: 2em;
    padding-bottom: 1em;
    li.contact{
      list-style: none;
      text-decoration: none;
      text-align: center;
    }
    li{
      text-align: left;  
    }
    h4{
      text-align: center;
    }
    .contact{
      i{
        font-weight: 600;
      }
    }
  }
  
}

