footer{
  background: #3B3738 !important;
  width: 100%;
  color: #fff;
  z-index: 2;
  padding-top: 3em;
  position: absolute;
  .fa{
    color: #fff;
  }
  .social-links{
    li{
      display: inline-block;
    }
    .social{
      color: #31B0D5;
      font-size: 30px;
      vertical-align: middle;
      &:hover{
        -webkit-transform: rotate(-10deg);
       -moz-transform: rotate(-10deg);
         -o-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
            transform: rotate(-10deg);
      }
    }
  }
  
  i{
      padding-left: 3em;
      padding-right: 3em;
      text-align: center;
    }
    
  .divider{
    width: 33.33%;
    text-align: center;
  }
  .titles{
    padding-bottom: 1em;
  }
 .site-links{
   text-align: center;
    a{
      text-decoration: none;
      letter-spacing: 0.10em;
      color: #fff;
    }
  }
  
  .footer-2{
    padding-top: 2em;
    padding-bottom: 1em;
    li.contact{
      list-style: none;
      text-decoration: none;
      text-align: center;
    }
    li{
      text-align: left;  
    }
    h4{
      text-align: center;
    }
  }
}

