<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center bottom-separator">
              <hr>
            </div>
            <div class="col-md-4 col-sm-6">
                           
          
                <!--<div class="testimonial bottom">-->
                <!--    <h2>Testimonial</h2>-->
                <!--    <div class="media">-->
                <!--        <div class="media-body">-->
                <!--            <blockquote>Nisi commodo bresaola, leberkas venison eiusmod bacon occaecat labore tail.</blockquote>-->
                <!--            <h3><a href="#">- Jhon Kalis</a></h3>-->
                <!--        </div>-->
                <!--     </div>-->
                <!--    <div class="media">-->
                <!--        <div class="media-body">-->
                <!--            <blockquote>Capicola nisi flank sed minim sunt aliqua rump pancetta leberkas venison eiusmod.</blockquote>-->
                <!--            <h3><a href="">- Abraham Josef</a></h3>-->
                <!--        </div>-->
                <!--    </div>   -->
                <!--</div> -->
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="contact-info bottom">
                    <h2>Contacts</h2>
                    <address>
                    E-mail: <a href="mailto:hey@codekrieg.com">hey@codekrieg.com</a> <br> 
                    Phone 1: +39 389 435 5390 <br>
                    Phone 2: +91 958 910 9340
                    </address>

                    <h2>Address</h2>
                    <address>
                    Via Giuseppe Benedetto Dusmet, 
                    16, 001678 <br> 
                    Rome, Lazio. <br> 
                    Italy <br>
                    <br>
                    B-4 Kachnar City, <br>
                    48002 <br>
                    Jabalpur, Madhya Pradesh <br>
                    India 
                    </address>

                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="contact-form bottom">
                     <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/CodeKrieg" data-widget-id="715930445209161728">Tweets by @CodeKrieg</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="copyright-text text-center">
                    <p>&copy; All Rights Reserved <%= Time.now.year%>, <%= link_to "CodeKrieg", root_path %></p>
                    <p><%= link_to "Terms And Conditions", tos_path %> <%= link_to "Privacy Policy", privacy_path %></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/footer-->
         